*
!.gitignore
!download-maps.sh
!install-server.sh
!README.md
!start-server.sh
!update-server-script.txt
!tf/

tf/*
!tf/addons/
!tf/cfg/

tf/addons/*
!tf/addons/sourcemod/

tf/addons/sourcemod/*
!tf/addons/sourcemod/configs/
!tf/addons/sourcemod/extensions/
!tf/addons/sourcemod/gamedata/
!tf/addons/sourcemod/plugins/
!tf/addons/sourcemod/translations/

tf/addons/sourcemod/configs/*
!tf/addons/sourcemod/configs/admins_simple.ini
!tf/addons/sourcemod/configs/advertisements.txt
!tf/addons/sourcemod/configs/chat_triggers.txt
!tf/addons/sourcemod/configs/maplists.cfg

!tf/addons/sourcemod/extensions/*
!tf/addons/sourcemod/extensions/x64/
tf/addons/sourcemod/extensions/bintools.ext.so
tf/addons/sourcemod/extensions/clientprefs.ext.so
tf/addons/sourcemod/extensions/dbi.mysql.ext.so
tf/addons/sourcemod/extensions/dbi.pgsql.ext.so
tf/addons/sourcemod/extensions/dbi.sqlite.ext.so
tf/addons/sourcemod/extensions/dhooks.ext.so
tf/addons/sourcemod/extensions/game.cstrike.ext.2.csgo.so
tf/addons/sourcemod/extensions/game.cstrike.ext.2.css.so
tf/addons/sourcemod/extensions/game.tf2.ext.2.tf2.so
tf/addons/sourcemod/extensions/geoip.ext.so
tf/addons/sourcemod/extensions/regex.ext.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.bms.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.csgo.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.css.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.dods.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.doi.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.ep1.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.ep2.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.hl2dm.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.insurgency.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.l4d.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.l4d2.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.nd.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.pvkii.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.sdk2013.so
tf/addons/sourcemod/extensions/sdkhooks.ext.2.tf2.so
tf/addons/sourcemod/extensions/sdktools.ext.2.bms.so
tf/addons/sourcemod/extensions/sdktools.ext.2.csgo.so
tf/addons/sourcemod/extensions/sdktools.ext.2.css.so
tf/addons/sourcemod/extensions/sdktools.ext.2.dods.so
tf/addons/sourcemod/extensions/sdktools.ext.2.doi.so
tf/addons/sourcemod/extensions/sdktools.ext.2.ep1.so
tf/addons/sourcemod/extensions/sdktools.ext.2.ep2.so
tf/addons/sourcemod/extensions/sdktools.ext.2.hl2dm.so
tf/addons/sourcemod/extensions/sdktools.ext.2.insurgency.so
tf/addons/sourcemod/extensions/sdktools.ext.2.l4d.so
tf/addons/sourcemod/extensions/sdktools.ext.2.l4d2.so
tf/addons/sourcemod/extensions/sdktools.ext.2.nd.so
tf/addons/sourcemod/extensions/sdktools.ext.2.pvkii.so
tf/addons/sourcemod/extensions/sdktools.ext.2.sdk2013.so
tf/addons/sourcemod/extensions/sdktools.ext.2.tf2.so
tf/addons/sourcemod/extensions/topmenus.ext.so
tf/addons/sourcemod/extensions/updater.ext.so
tf/addons/sourcemod/extensions/webternet.ext.so

!tf/addons/sourcemod/extensions/x64/*
tf/addons/sourcemod/extensions/x64/bintools.ext.so
tf/addons/sourcemod/extensions/x64/clientprefs.ext.so
tf/addons/sourcemod/extensions/x64/dbi.mysql.ext.so
tf/addons/sourcemod/extensions/x64/dbi.pgsql.ext.so
tf/addons/sourcemod/extensions/x64/dbi.sqlite.ext.so
tf/addons/sourcemod/extensions/x64/game.cstrike.ext.2.csgo.so
tf/addons/sourcemod/extensions/x64/game.cstrike.ext.2.css.so
tf/addons/sourcemod/extensions/x64/game.tf2.ext.2.tf2.so
tf/addons/sourcemod/extensions/x64/geoip.ext.so
tf/addons/sourcemod/extensions/x64/regex.ext.so
tf/addons/sourcemod/extensions/x64/sdkhooks.ext.2.blade.so
tf/addons/sourcemod/extensions/x64/sdkhooks.ext.2.csgo.so
tf/addons/sourcemod/extensions/x64/sdkhooks.ext.2.dods.so
tf/addons/sourcemod/extensions/x64/sdkhooks.ext.2.css.so
tf/addons/sourcemod/extensions/x64/sdkhooks.ext.2.hl2dm.so
tf/addons/sourcemod/extensions/x64/sdkhooks.ext.2.mcv.so
tf/addons/sourcemod/extensions/x64/sdkhooks.ext.2.tf2.so
tf/addons/sourcemod/extensions/x64/sdktools.ext.2.blade.so
tf/addons/sourcemod/extensions/x64/sdktools.ext.2.csgo.so
tf/addons/sourcemod/extensions/x64/sdktools.ext.2.css.so
tf/addons/sourcemod/extensions/x64/sdktools.ext.2.dods.so
tf/addons/sourcemod/extensions/x64/sdktools.ext.2.mcv.so
tf/addons/sourcemod/extensions/x64/sdktools.ext.2.hl2dm.so
tf/addons/sourcemod/extensions/x64/sdktools.ext.2.tf2.so
tf/addons/sourcemod/extensions/x64/topmenus.ext.so
tf/addons/sourcemod/extensions/x64/updater.ext.so
tf/addons/sourcemod/extensions/x64/webternet.ext.so

!tf/addons/sourcemod/gamedata/*
tf/addons/sourcemod/gamedata/core.games/
tf/addons/sourcemod/gamedata/sdkhooks.games/
tf/addons/sourcemod/gamedata/sdktools.games/
tf/addons/sourcemod/gamedata/sm-cstrike.games/
tf/addons/sourcemod/gamedata/funcommands.games.txt
tf/addons/sourcemod/gamedata/sm-tf2.games.txt

!tf/addons/sourcemod/plugins/*
tf/addons/sourcemod/plugins/disabled/
tf/addons/sourcemod/plugins/admin-flatfile.smx
tf/addons/sourcemod/plugins/adminhelp.smx
tf/addons/sourcemod/plugins/adminmenu.smx
tf/addons/sourcemod/plugins/antiflood.smx
tf/addons/sourcemod/plugins/basebans.smx
tf/addons/sourcemod/plugins/basechat.smx
tf/addons/sourcemod/plugins/basecomm.smx
tf/addons/sourcemod/plugins/basecommands.smx
tf/addons/sourcemod/plugins/basetriggers.smx
tf/addons/sourcemod/plugins/basevotes.smx
tf/addons/sourcemod/plugins/clientprefs.smx
tf/addons/sourcemod/plugins/playercommands.smx
tf/addons/sourcemod/plugins/sounds.smx

tf/addons/sourcemod/translations/*
!tf/addons/sourcemod/translations/chi/
!tf/addons/sourcemod/translations/de/
!tf/addons/sourcemod/translations/es/
!tf/addons/sourcemod/translations/hu/
!tf/addons/sourcemod/translations/nl/
!tf/addons/sourcemod/translations/pl/
!tf/addons/sourcemod/translations/ru/
!tf/addons/sourcemod/translations/afk_manager.phrases.txt
!tf/addons/sourcemod/translations/nativevotes.phrases.txt
!tf/addons/sourcemod/translations/ssh.phrases.txt
!tf/addons/sourcemod/translations/stac.phrases.txt

tf/addons/sourcemod/translations/chi/*
!tf/addons/sourcemod/translations/chi/nativevotes.phrases.txt

tf/addons/sourcemod/translations/de/*
!tf/addons/sourcemod/translations/de/nativevotes.phrases.txt

tf/addons/sourcemod/translations/es/*
!tf/addons/sourcemod/translations/es/nativevotes.phrases.txt

tf/addons/sourcemod/translations/hu/*
!tf/addons/sourcemod/translations/hu/nativevotes.phrases.txt

tf/addons/sourcemod/translations/nl/*
!tf/addons/sourcemod/translations/nl/nativevotes.phrases.txt

tf/addons/sourcemod/translations/pl/*
!tf/addons/sourcemod/translations/pl/nativevotes.phrases.txt

tf/addons/sourcemod/translations/ru/*
!tf/addons/sourcemod/translations/ru/nativevotes.phrases.txt
!tf/addons/sourcemod/translations/ru/ssh.phrases.txt

tf/cfg/*
!tf/cfg/mapconfig/
!tf/cfg/sourcemod/
!tf/cfg/sourcemod/*
!tf/cfg/banned_user.cfg
!tf/cfg/mapcycle.txt
!tf/cfg/mappool.txt
!tf/cfg/motd.txt
!tf/cfg/passtimetf.txt
!tf/cfg/pure_server_whitelist.txt
!tf/cfg/server.cfg

!tf/cfg/mapconfig/*
!tf/cfg/mapconfig/gametype/
!tf/cfg/mapconfig/gametype/*
!tf/cfg/mapconfig/general/all.cfg

tf/cfg/mapconfig/maps/*
!tf/cfg/mapconfig/maps/arena_aspen_ft_rc2.cfg
!tf/cfg/mapconfig/maps/arena_cryo_ft_b3.cfg
!tf/cfg/mapconfig/maps/arena_himalaya_ft_b3.cfg
!tf/cfg/mapconfig/maps/arena_melchior_ft_rc1.cfg
!tf/cfg/mapconfig/maps/arena_speleo_ft_rc2.cfg
!tf/cfg/mapconfig/maps/cp_altitude.cfg
!tf/cfg/mapconfig/maps/cp_ambush_rc5.cfg
!tf/cfg/mapconfig/maps/cp_brew.cfg
!tf/cfg/mapconfig/maps/cp_burghausen.cfg
!tf/cfg/mapconfig/maps/cp_caldera_rc3.cfg
!tf/cfg/mapconfig/maps/cp_degrootkeep.cfg
!tf/cfg/mapconfig/maps/cp_degrootkeep_rats.cfg
!tf/cfg/mapconfig/maps/cp_dustbowl.cfg
!tf/cfg/mapconfig/maps/cp_egypt_final.cfg
!tf/cfg/mapconfig/maps/cp_fortezza.cfg
!tf/cfg/mapconfig/maps/cp_fulgur.cfg
!tf/cfg/mapconfig/maps/cp_glacier_rc6.cfg
!tf/cfg/mapconfig/maps/cp_gorge.cfg
!tf/cfg/mapconfig/maps/cp_gorge_event.cfg
!tf/cfg/mapconfig/maps/cp_gravelpit.cfg
!tf/cfg/mapconfig/maps/cp_gravelpit_snowy.cfg
!tf/cfg/mapconfig/maps/cp_haarp.cfg
!tf/cfg/mapconfig/maps/cp_hadal.cfg
!tf/cfg/mapconfig/maps/cp_hardwood_final.cfg
!tf/cfg/mapconfig/maps/cp_junction_final.cfg
!tf/cfg/mapconfig/maps/cp_mercenarypark.cfg
!tf/cfg/mapconfig/maps/cp_mossrock.cfg
!tf/cfg/mapconfig/maps/cp_mountainlab.cfg
!tf/cfg/mapconfig/maps/cp_osiris_b27.cfg
!tf/cfg/mapconfig/maps/cp_overgrown.cfg
!tf/cfg/mapconfig/maps/cppl_gavle.cfg
!tf/cfg/mapconfig/maps/cp_probowl_rc1.cfg
!tf/cfg/mapconfig/maps/cp_rumble_rc8.cfg
!tf/cfg/mapconfig/maps/cp_snowbase_b21.cfg
!tf/cfg/mapconfig/maps/cp_snowplow.cfg
!tf/cfg/mapconfig/maps/cp_steel.cfg
!tf/cfg/mapconfig/maps/cp_steel_f12.cfg
!tf/cfg/mapconfig/maps/cp_stoneyridge_rc2.cfg
!tf/cfg/mapconfig/maps/cp_sulfur.cfg
!tf/cfg/mapconfig/maps/cppl_gavle_b5.cfg
!tf/cfg/mapconfig/maps/koth_krampus.cfg
